body{
  background: url(IMG_1295[1].JPG) no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;

}
.liens{
    gap: 20px;
    color: white;
    font-size: 30px;
    display: flex ;
    justify-self:center;
}
a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
a:hover{
    color: #ff7e5f;
}
.contact{
    background: black;
    padding: 20px ;
    border-radius:  10px;
    text-align: center;
    width: 400px;
    margin-top: 10px;
    margin: auto;
    margin-top: 20px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 10px;
}
button{

    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor:pointer
}
textarea{
    padding: 10px;
    resize: none;
}
