*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right, #ff7e5f, #feb47b);
    background-size: cover;
}

.tete{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tete h1{
    color: white;
    font-size: 30px;
    font-family: arial;
}
.tete img{
    border-radius: 0px;
}
.description{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}
.commentaire {
    border: 0px solid #ff7e5f;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 247px;
    margin: 20px auto;
    background: #ff7e5f;;
}
.commentaire img {
    border-radius: 0%;
    object-fit: cover;
    flex-wrap: wrap;
    width: 100%;
    height: 100% ;
}
.commentaire img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.tout{
    display: flex;
    gap: 30px;           /* espace entre les produits */
    justify-content: center;
    flex-wrap: wrap;     /* pour passer à la ligne sur petit écran */
}
.description p {
    font-size: 30px;
    color: white;
}
.prix {font-size: 22px;
    color: white;
}
.acheter {
    background: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 18px;
}
.acheter a {
    text-decoration: none;
    color: black;
}
.acheter:hover {
    background: #fd4444;
}
.footer-content {
  text-align: center;
  backdrop-filter: blur(80px);
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.footer-section {
  margin: 10px 20px;
  min-width: 200px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icon {
  font-size: 20px;
  margin: 0 8px;
  text-decoration: none;
  transition: color 0.2s;
}
.social-icon:hover {
  color: #fff;
}
.footer-section h4 {
  margin-bottom: 8px;
  color:white;
  font-size: 20px;
}
.footer-section a {
  color: white;
  text-decoration: none;
}
.footer-section a:hover {
  text-decoration: none;
  color: #ff7e5f;
}
.footer-section p {
  color: white;
}
.footer-section p:hover {
  color: #ff7e5f;
}
h4:hover {
  color: #ff7e5f;
}
